# Build

NODE_ENV=development# possible values: development, production. Node/Vite framework mode only — never use local/qa here
ENVIRONMENT=local# possible values: local, development, qa, production. Deployment stage

# Runtime
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/tectonic# url of database
JWT_SECRET=***# openssl rand -base64 32. used for bearer authentication
PORT=4000# port of the server
ENCRYPTION_KEY=***# openssl rand -hex 16. used for encrypting data in database
FRONTEND_URL=http://localhost:3000# url of the client
BACKEND_URL=http://localhost:4000# optional. url of *this* server. Sometimes we need to access it using code and this facilitates it (redirect urls etc)
