# Build

# Rule of thumb for developers: `import.meta.env` = BUILD
# Vite statically inlines values (import.meta.env) during pnpm build, so should be available at build phase.
# possible values: development, production. Node/Vite framework mode only — never use local/qa here
NODE_ENV=development
# possible values: local, development, qa, production. Deployment stage (Vite exposes only VITE_* to the browser)
VITE_ENVIRONMENT=local
# url of backend where all API/GraphQL requests go to
VITE_BACKEND_URL=http://localhost:4000

# Runtime
# can be set to true to reduce noise in local development
VITE_SUPPRESS_WARNINGS=false
# port of the client
VITE_PORT=3000
# Should only be set in localhost, never in a hosted environment. Purely for development purposes.
# 1password
REGISTRY_BEARER_TOKEN=***
